.maindiv {
    
    width: 400px;
    height: 400px;
}

.maindiv,
.frontcard,
.backcard {
    position: absolute;
    width: 450px;
    height: 450px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.frontcard,
.backcard {
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: black;
}

.backcard {
    transform: rotateY(180deg);
}
canvas#bar-chart {
    height: 250px !important;
    width: 500px !important;
    background: white;
}